
.vs/ConsoleDesk/v14/.suo
*.exe
*.db
*.aps
*.filters
*.user
ConsoleDesk/DartQtPalette.xml
ConsoleDesk/OriginalQtPalette.xml
ConsoleDesk/res/black.png
ConsoleDesk/res/icon.cur
ConsoleDesk/res/icon.png
ConsoleDesk/res/icon.psd
ConsoleDesk/resource.h
ConsoleDesk/resource1.h
ConsoleDesk/resource2.h
ConsoleDesk/resource3.h
*.log
*.obj
*.res
*.tlog
ConsoleDesk/x64/Debug/moc/moc_ConsoleDesk.cpp
ConsoleDesk/x64/Debug/moc/moc_DarkStyle.cpp
ConsoleDesk/x64/Debug/moc/moc_framelesswindow.cpp
ConsoleDesk/x64/Debug/moc/moc_KeyListener.cpp
ConsoleDesk/x64/Debug/moc/moc_windowdragger.cpp
*.props
*.stash
ConsoleDesk/x64/Debug/qmake/temp/Makefile
ConsoleDesk/x64/Debug/qmake/temp/props.txt
ConsoleDesk/x64/Debug/qmake/temp/qtvars.pro
ConsoleDesk/x64/Debug/rcc/qrc_ConsoleDesk.cpp
ConsoleDesk/x64/Debug/rcc/qrc_darkstyle.cpp
ConsoleDesk/x64/Debug/rcc/qrc_framelesswindow.cpp
ConsoleDesk/x64/Debug/uic/ui_ConsoleDesk.h
ConsoleDesk/x64/Debug/uic/ui_framelesswindow.h
*.pdb
ConsoleDesk/x64/Release/moc/moc_ConsoleDesk.cpp
ConsoleDesk/x64/Release/moc/moc_DarkStyle.cpp
ConsoleDesk/x64/Release/moc/moc_framelesswindow.cpp
ConsoleDesk/x64/Release/moc/moc_KeyListener.cpp
ConsoleDesk/x64/Release/moc/moc_windowdragger.cpp
ConsoleDesk/x64/Release/qmake/temp/Makefile
ConsoleDesk/x64/Release/qmake/temp/props.txt
ConsoleDesk/x64/Release/qmake/temp/qtvars.pro
ConsoleDesk/x64/Release/rcc/qrc_ConsoleDesk.cpp
ConsoleDesk/x64/Release/rcc/qrc_darkstyle.cpp
ConsoleDesk/x64/Release/rcc/qrc_framelesswindow.cpp
ConsoleDesk/x64/Release/uic/ui_ConsoleDesk.h
ConsoleDesk/x64/Release/uic/ui_framelesswindow.h
*.dll
Screenshot_Empty.png
Screenshot_Using.png
*.ilk
x64/Debug/CustomLinks.txt
x64/Release/CustomLinks.txt
